<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Solid Waste Collection</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("CssHeader", required: false)
    @Styles.Render("~/Content/cssBundle")
</head>
<body>
    <div id="loading" class="overlay">
        <div class="absolute loading-gif gif-position"></div>
    </div>
    <div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modalHeader" class="modal-header">
                </div>
                <div id="modalBody" class="modal-body">
                    ...
                </div>
                <div id="modalFooter" class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container header">
            <div class="row">
                <div class="col-xs-8 logo-image-container">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img src="@Url.Content("~/Images/logo-renewable.png")" class="logo-image">
                    </a>
                    @Html.ActionLink("Solid Waste Collection", "Index", "Home", null, new { @class = "logo-text" })
                </div>
                <div class="col-xs-4 ">
                    <div id="login">
                        <label class="header-name">
                            @Html.Partial("_LoginPartial")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-default nav-bar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                    <li @(ViewBag.menu == "home" ? "class=active" : "")>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                    @if (Request.IsAuthenticated)
                    {
                        <li @(ViewBag.menu == "maps" ? "class=active" : "")>@Html.ActionLink("Maps", "Map", "Member")</li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li @(ViewBag.menu == "topmanagement" ? "class=active" : "")>@Html.ActionLink("Top Management", "TopManagement", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li @(ViewBag.menu == "recyclingcollection" ? "class=active" : "")>@Html.ActionLink("Recycling Collection", "RecyclingCollection", "Home")</li>
                            <li @(ViewBag.menu == "industrialcollection" ? "class=active" : "")>@Html.ActionLink("Industrial Collection", "IndustrialCollection", "Home")</li>
                            <li @(ViewBag.menu == "cardboardcollection" ? "class=active" : "")>@Html.ActionLink("Cardboard Collection", "CardboardCollection", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="body">
        <section>   
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="footer">
            <div class="footer-top"></div>
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row footer-left-details">
                                <div class="col-xs-4">
                                    <ul>
                                        <li>@Html.ActionLink("About us", "Index", "Home")</li>
                                        <li>@Html.ActionLink("What we do", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Resources", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Links", "Index", "Home")</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                    <ul>
                                        <li>@Html.ActionLink("Online Portal", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Community", "Index", "Home")</li>
                                        <li>@Html.ActionLink("FAQ", "Index", "Home")</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                    <ul>
                                        <li>@Html.ActionLink("Certifications", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Awards", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Laws", "Index", "Home")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row footer-right-details">
                                <div class="col-md-6">
                                    <h2>Contact Us</h2>
                                    <br>
                                    <address>
                                        <strong>SW Collection, Inc.</strong><br>
                                        1355 Market Street, Suite 900<br>
                                        San Fernando, TX 92113<br><br>
                                        # (123) 456 - 7890
                                        <br>
                                        # (123) 456 - 7890
                                    </address>
                                </div>
                                <div class="col-md-6">
                                    <h2>Our Motto</h2>
                                    <br>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery-2.2.4")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("ScriptsFooter", required: false)

    @Scripts.Render("~/bundles/main")
</body>
</html>
