@model SolidWaste.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account")) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="login-page">
        <div class="form">

            <form class="login-form">
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Enter Old Passowrd" })
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Enter New Password" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm New Passowrd" })

                @*<input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>*@
                <p class="message-success">@ViewBag.StatusMessage</p>

                <button type="submit">Change password</button>
            </form>

        </div>
    </div>
}