@model SolidWaste.Models.RegisterModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <div class="login-page">
        <div class="form">

            <form class="login-form">
                @Html.TextBoxFor(m => m.UserName, new { placeholder ="Enter Username"})
                @Html.PasswordFor(m => m.Password, new { placeholder = "Enter Password" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Repeat Password" })
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter first name" })
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter last name" })
                @Html.DropDownListFor(m => m.DistrictID, new SelectList(ViewBag.MovieType, "id ","name"))
                <button type="submit">Register</button>
                <p class="message">Already registered? @Html.ActionLink("Sign in here", "Login")</p>

            </form>
        </div>
    </div>
}

@section ScriptsFooter {
    @Scripts.Render("~/bundles/jqueryval")
}
