@model SolidWaste.Models.Municipality

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Municipality</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictID, "District")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistrictID", String.Empty)
            @Html.ValidationMessageFor(model => model.DistrictID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.x_coordinate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.x_coordinate)
            @Html.ValidationMessageFor(model => model.x_coordinate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.y_coordinate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.y_coordinate)
            @Html.ValidationMessageFor(model => model.y_coordinate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.population)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.population)
            @Html.ValidationMessageFor(model => model.population)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.boundary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.boundary)
            @Html.ValidationMessageFor(model => model.boundary)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
