@model SolidWaste.Models.Municipality

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Municipality</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.District.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x_coordinate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x_coordinate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.y_coordinate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.y_coordinate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.population)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.population)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boundary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boundary)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
