@model SolidWaste.Models.Municipality

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Municipality</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.District.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x_coordinate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x_coordinate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.y_coordinate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.y_coordinate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.population)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.population)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boundary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boundary)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MunicipalityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
