@model IEnumerable<SolidWaste.Models.Municipality>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.District.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.x_coordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.y_coordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.population)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boundary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.District.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.x_coordinate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.y_coordinate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.population)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boundary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MunicipalityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MunicipalityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MunicipalityID })
        </td>
    </tr>
}

</table>
