@model  IEnumerable<SolidWaste.Models.Municipality>

<div id="dataDiv" class="display-none"
     data-x_coor="@ViewBag.District.zoomed_x_coordinate"
     data-y_coor="@ViewBag.District.zoomed_y_coordinate"
     data-district_id="@ViewBag.id"
     data-district_name="@ViewBag.District.Name"
     data-obj_id="@ViewBag.District.FID"
     data-search_xmin="@ViewBag.District.search_xmin"
     data-search_xmax="@ViewBag.District.search_xmax"
     data-search_ymin="@ViewBag.District.search_ymin"
     data-search_ymax="@ViewBag.District.search_ymax"
     data-district-url="@Url.Action("getMunicipalities", "ajax")"></div>

<div class="sidebar-wrapper">
    <div class="sidebar absolute">
        <img src="@Url.Content("~/Content/siteImages/"+ViewBag.districtImage)" />
        <div class="sidebar-title">
            <h4>District @ViewBag.District.Name</h4>
            <p>Municipalities: @ViewBag.numMunicipalities</p>
            <p>Total population of @ViewBag.District.population.</p>
        </div>
    </div>
    <div class="sidebar-margin">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
    </div>
</div>

@section ScriptsFooter {
    <script> window.baseUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))"; </script>
    <script src="@Url.Content("~/Scripts/google-district.js")" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUezPkykFJdiK29b6vLeGvGEyXGOuR_E8&libraries=places,drawing&callback=initAutocomplete" async defer></script>
}


